.root-page-wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.main-panel {
  position: relative;
  float: right;
  width: 100%;
  background-color: #f4f3ef;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel.has-sidebar {
  width: calc(100% - 260px);
}

.content .card-title {
  padding-top: 24px;
}
