@using BlazorStrap
@inject HttpClient Http



<EditForm Model="@Product" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationsValidator />

    <InputSelect id="department" @bind-Value="Product.ManufecturerId">
        @foreach (var manufacturer in manufacturers)
        {
            <option value="@manufacturer.Id">@manufacturer.Description</option>
        }
    </InputSelect>
    
    <br />

</EditForm>

@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public string ButtonText { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    List<Manufacturer> manufacturers = new List<Manufacturer>();


    

    protected override async Task OnInitializedAsync()
    {
        await LoadManufactures();
    }

    async Task LoadManufactures()
    {
        manufacturers = await Http.GetFromJsonAsync<List<Manufacturer>>("https://localhost:44324/v1/comparaItens/manufacturer/findAll");
    }

}