@page "/fabricante/editar/{id:int}"
@using BlazorAppBuscaItens.Infra
@inject HttpClient Http
@inject NavigationManager navigation

<h3>Editar Fabricante</h3>
<hr />

<FormFabricante Manufacturer="@manufacturer" ButtonText="Atualizar" OnValidSubmit="@EditarFabricante"></FormFabricante>

@code {

    Manufacturer manufacturer = new Manufacturer();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        manufacturer = await Http.GetFromJsonAsync<Manufacturer>("https://localhost:44324/v1/comparaItens/manufacturer/findById?id=" + id);
    }

    async Task EditarFabricante()
    {
        var result = await Http.PutAsJsonAsync("https://localhost:44324/v1/comparaItens/manufacturer/update", manufacturer);

        if (result.IsSuccessStatusCode)
            navigation.NavigateTo("fabricante");
    }

}