@page "/fabricante"
@using BlazorAppBuscaItens.Model
@inject HttpClient Http
@inject IModalService Modal

<h3>Fabricante</h3>

<style type="text/css">
    .blazored-modal {
        width: 700px;
    }
</style>

@if (manufacturers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Opções</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in manufacturers)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Description</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
                            <i class="oi oi-file"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" @onclick="@(()=>Modal.Show<FabricanteDel>("Modal Exemple"))"  >
                            <i class="oi oi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Manufacturer[] manufacturers;

    protected override async Task OnInitializedAsync()
    {
        manufacturers = await Http.GetFromJsonAsync<Manufacturer[]>("https://localhost:44324/v1/comparaItens/manufacturer/findAll");
    }
}
