@page "/fabricante/index"
@page "/fabricante"
@using BlazorAppBuscaItens.Model
@using System.Net
@using BlazorAppBuscaItens.Infra
@inject HttpClient Http
@*@inject IModalService modal*@

<h1>Fabricantes</h1>

<hr />

<div>
    <a href="fabricante/criar" class="btn btn-success"><i class="oi oi-plus"></i></a>
    @*<button type="button" class="btn btn-primary" tooltip="Criar"><i class="oi oi-plus" @onclick="@(() => modal.Show<Add>("Cadastra Fabricante"))"></i></button>*@
</div>

<br />

<div>
    @if (manufactures == null)
    {
        <p><em>Loading...</em></p>
    }
    else if (manufactures.Count == 0)
    {
        <p><em>Não há fabricante cadastrado.</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in manufactures)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Description</td>
                        <td>
                            <div class="btn-group">
                                <a href="fabricante/editar/@item.Id" class="btn btn-primary btn-sm mr-2"><i class="oi oi-document"></i></a>
                                <a href="fabricante/deletar/@item.Id" class="btn btn-danger btn-sm mr-2"><i class="oi oi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {

    //private Manufacturer[] manufactures;
    private List<Manufacturer> manufactures = new List<Manufacturer>();
    private ManufacturerRepository _manufacturerRepository = new ManufacturerRepository();

    protected override async Task OnInitializedAsync()
    {
        //manufactures = (List<Manufacturer>) await _manufacturerRepository.GetAll();
        await LoadManufactures();
    }

    async Task LoadManufactures()
    {
        manufactures = await Http.GetFromJsonAsync<List<Manufacturer>>("https://localhost:44324/v1/comparaItens/manufacturer/findAll");
    }

    //async Task DeleteManufactures(int id)
    //{

    //    await Http.DeleteAsync("https://localhost:44324/v1/comparaItens/manufacturer/delete?id="+ id );

    //    await LoadManufactures();
    //}
}